@-moz-document regexp(".*") {
    tt *, pre *, code *, kbd *, samp *, var * {
        font-family: monospace !important;
    }

    p, ul, ol, input, button, h1, h2, h3, h4, h5, h6 {
        font-family: "Roboto", "BIZ UDPGothic" !important;
    }

    @font-face { 
        font-family: Meiryo; 
        src: local("BIZ UDPGothic");
    }

    @font-face { 
        font-family: MS PGothic;
        src: local("BIZ UDPGothic");
    }

    @font-face { 
        font-family: "Yu Gothic";
        src: local("BIZ UDPGothic");
    }
}