@-moz-document regexp("http[|s]://www(|[0-9]).x-feeder.info/.*") {

    /* Feederのレイアウト調整 (June 26, 2022) */

    /* 見づらいフォントを置き変える
    /* 
    /* 全称セレクタ (*) でフォントをすべて置換している場合は、
    /* このセクション全体をコメントインのままにしておいてOK


        @font-face { 
            font-family: メイリオ; 
            src: local("BIZ UDPGothic");
        }

        @font-face { 
            font-family: Meiryo; 
            src: local("BIZ UDPGothic");
        }

        @font-face { 
            font-family: "ＭＳ Ｐゴシック";
            src: local("BIZ UDPGothic");
        }

        @font-face { 
            font-family: MS PGothic;
            src: local("BIZ UDPGothic");
        }
    */

    /* 行幅を変更 */

    body {
        line-height: 1.75;
        font-family: Segoe UI
    }

    input, textarea {
        line-height: 1.5;
    }

    /* ボタンの調整 */

    button {
        padding: 4px 8px;
    }

    /* 自由帳関連 */

    div#note_menu {
        height: 2em;
        padding: 2px 4px;
    }

    div#note_menu button {
        width: auto;
        height: auto;
    }

    /* 一部のアイコンが行幅の変更によって表示がおかしくなるのを修正 */

    div#navi_right {
        display: flex;
    }

    div#navi_right p {
        float: none;
        display: flex;
    }

    #navi_right p {
        place-items: center;
    }

    /* アイコンとテキストの間隔を微調整 */

    #navi_right * .icons_sprite {
        margin-right: .25em;
    }

    /* ふきだしのデザインの微調整 */

    table.comment td {
        padding: 4px 8px 4px 8px;
    }

    /* ピックアップルームのセクションを非表示 */

    div#pickup_rooms_frame {
        display: none;
    }

    /* 強制的にアバターサイズを変更 */

    .name img {
        width: 96px;
        height: auto;
    }
}

@-moz-document regexp("https:\/\/www2\.x-feeder\.info\/Kocchi_Minna\/") {

    /* タイトルバーのフォント色を変える */
    #header h1 {
        color: #ffffff;
        text-shadow: 0px 0px 5px #000000;
        font-weight: normal;
    }
}